$header_color:gray;
.log_pic{
    width: 30px;
    height: 30px;
    background: url("../image/product_detail/default-picture-10115437a71ccfd271347fc49103aad3.png") no-repeat center;
    background-size:contain;
    border-radius: 50%;
}